* {
  padding: 0;
  margin: 0;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.btn{

    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}